<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004834247870-n1t6gb4mpuojo712fq63ltna3hlclhcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004834247870-n1t6gb4mpuojo712fq63ltna3hlclhcl</string>
	<key>API_KEY</key>
	<string>AIzaSyCXnS4z1uWsT-sf8qLRnIbk_GlRButYqZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1004834247870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronanfuruta.drives</string>
	<key>PROJECT_ID</key>
	<string>drive-logger-78ecf</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-logger-78ecf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004834247870:ios:a31f37aef21b726b7cbaef</string>
	<key>DATABASE_URL</key>
	<string>https://drive-logger-78ecf.firebaseio.com</string>
</dict>
</plist>